/* #region Resets */

/* For all elements */
* {
    /* Spacing */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Borders */
    border: 0;

    /* Typography */
    line-height: 1;
}

/* Links */
a {
    /* Display */
    display: inline-block;

    /* Typography */
    text-decoration-line: none;

    /* Colors */
    color: inherit;
}

/* Images */
img {
    /* Sizing */
    width: 100%;

    /* Alignment */
    vertical-align: middle;
}

/* Spans */
span {
    /* Alignment */
    vertical-align: middle;
}

/* Unordered lists */
ul {

    /* List items */
    li {
        /* Typography */
        list-style-type: none;
        line-height: 2;
    }
}

/* Buttons */
button {

    /* Colors */
    background-color: inherit;
    color: inherit;

    /* Hover */
    :hover {

        /* Cursor */
        cursor: pointer;
    }
}

/* #endregion Resets */

/* Root variables */
:root {

    /* #region Typography */

        /* Font size base(rem) */
        --font-size-base: 16px;

        /* Font weight base */
        --font-weight--base: bold;

        /* Color base */
        --color--base: #6f6f6f;

    /* #endregion Typography */
    
    /* #region Colors */

        /* Accent color */
        --accent-color: #adff2f;

        /* Top bar background color */
        --top-bar--bg-color: #080b12;

        /* Bottom bar background color */
        --bottom-bar--bg-color: #282828;

        /* Left bar background color */
        --left-bar--bg-color: black;

        /* Main section background color */
        --main-section--bg-color: #141922;

        /* Profile picture background color */
        --profile-picture--bg-color: #808080;

        /*
        #a3a3a3
        */

    /* #endregion Colors */
}

/* #region Utility classes */

    /* Debug class */
    .debug {

        /* For all elements */
        * {

            /* Borders */
            border: 1px solid green;
        }

    }

    /* #reagion Columns */

        /* Column of 2 / 12 */
        .col {

            /* Sizing */
            width: calc(100% / 12 * 2);
        }

        /* Column of 4 / 12 */
        .col-4 {

            /* Sizing */
            width: calc(100% / 12 * 4);
        }

        /* Column of 6 / 12 */
        .col-6 {

            /* Sizing */
            width: calc(100% / 12 * 6);
        }

    /* #endreagion Columns */

/* #endregion Utility classes */

/* #region App related rules */

    /* #region HTML */
    html {

        /* Typography */
        font-size: var(--font-size--base);
        font-weight: var(--font-weight--base);

        /* Colors */
        color: var(--color--base);

        /* #region Body */
        body {

            /* #region App */
            .app {

                /* Layout */
                display: flex;
                flex-direction: column;
                height: 100vh;

                /* #region App, Top section */
                .app__top {
                    
                    /* Layout */
                    display: flex;
                    flex-grow: 1;

                    /* #region App-Top, Left section */
                    .app-top__left {

                        /* Display */
                        display: flex;

                        /* Flex */
                        flex-direction: column;
                        justify-content: space-between;

                        /* Colors */
                        background-color: var(--left-bar--bg-color);
                        color: var(--left-bar--text-color);

                        /* #region App-Top-Left, Top section */
                        .app-top-left__top {

                            /* Logo link section */
                            .logo-link-section {

                                /* Logo link */
                                .logo-link {
                                    
                                    /* Spacing */
                                    padding: 1.5rem 5rem 1rem 1.5rem;

                                    /* Logo link image */
                                    .logo-link-image {

                                        /* Sizing */
                                        width: 8rem;
                                    }
                                }
                            }

                            /* Main menu section */
                            .main-menu-section {

                                /* Menu list */
                                .menu-list {

                                    /* Menu item */
                                    .menu-item {

                                        /* Spacing */
                                        line-height: 2.3;

                                        /* Menu link */
                                        .menu-link {

                                            /* Spacing */
                                            padding: 0.5rem 0 0.5rem 1.5rem;
                                            
                                            /* Menu image */
                                            .menu-image {

                                                /* Sizing */
                                                width: 1.5rem;
                                            }

                                            /* Menu text */
                                            .menu-text {

                                            }

                                            &.selected {

                                                /* Borders */
                                                border-left: 3px solid var(--accent-color);

                                                /* Colors */
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }

                            /* Playlist section */
                            .playlist-section {

                                /* Spacing */
                                padding: 1rem;

                                /* Playlist section title */
                                .playlist-section-title {

                                    /* Spacing */
                                    padding: 0.3rem 0 0.5rem 0;

                                    /* Typography */
                                    text-transform: uppercase;
                                    font-size: 1rem;

                                    /* Colors */
                                    color: white;
                                }

                                /* Playlist section actions */
                                .playlist-section-actions {

                                    /* Create playlist link button */
                                    .create-playlist-link-button {

                                        /* Link button icon */
                                        .link-button-icon {

                                            /* Sizing */
                                            width: 1rem;
                                            height: 1rem;

                                            /* Spacing */
                                            padding: 0.5rem;

                                            /* Colors */
                                            background-color: white;
                                        }

                                        /* Link button text */
                                        .link-button-text {

                                            /* Typography */
                                            font-size: 1.1rem;
                                        }
                                    }
                                }

                                /* Playlist list */
                                .playlist-list {

                                    /* Playlist item */
                                    playlist-item {

                                        /* Playlist link */
                                        .playlist-link {

                                            /* Typography */
                                            font-size: 0.9rem;
                                        }
                                    }
                                }
                            }
                        }
                        /* #endregion App-Top-Left, Top section */

                        /* #region App-Top-Left, Bottom section */
                        .app-top-left__bottom {

                            /* Installation section */
                            .installation-section {

                                /* Spacing */
                                padding: 1rem 0;

                                /* Install app link button */
                                .install-app-link-button {

                                    /* Install app image */
                                    .install-app-image {

                                        /* Sizing */
                                        width: 1rem;
                                    }

                                    /* Install app text */
                                    .install-app-text {

                                    }
                                }
                            }

                            /* Separator */
                            .app-top-left-bottom__separator {

                            }

                            /* Profile section */
                            .profile-section {

                                /* Spacing */
                                padding: 1rem 0;

                                /* Profile link button */
                                .profile-link-button {

                                    /* Image wrapper */
                                    .image-wrapper {

                                        /* Display */
                                        display: inline;

                                        /* Spacing */
                                        padding: 0.25rem;

                                        /* Borders */
                                        border-radius: 50%;

                                        /* Colors */
                                        background-color: var(--profile-picture--bg-color);

                                        /* Profile image */
                                        .profile-image {

                                            /* Sizing */
                                            width: 1rem;
                                            aspect-ratio: 1/1;
                                        }
                                    }

                                    /* Profile text */
                                    .profile-text {

                                        /* Cursor */
                                        cursor: auto;

                                        /* Colors */
                                        color: white;
                                    }
                                }
                            }
                        }
                        /* #endregion App-Top-Left, Bottom section */
                    }
                    /* #endregion App-Top, Left section */

                    /* #region App-Top, Right section */
                    .app-top__right {

                        display: flex;
                        flex-direction: column;

                        /* Sizing */
                        flex-grow: 1;

                        /* #region App-Top-Right, Top section */
                        .app-top-right__top {
                            
                            /* Spacing */
                            padding: 1.5rem;

                            /* Text alignment */
                            text-align: right;

                            /* Background */
                            background-color: var(--top-bar--bg-color);

                            .upgrade-link-button {

                                /* Spacing */
                                padding: 0.8rem 2.3rem;

                                /* Borders */
                                border: 1px solid white;
                                border-radius: 3rem;

                                /* Text */
                                text-transform: uppercase;
                                font-size: 0.8rem;

                                /* Colors */
                                color: white;

                                &:hover {

                                    /* Sizing */
                                    transform: scale(1.1);
                                }

                            }
                        }
                        /* #endregion App-Top-Right, Top section */

                        /* #region Main section */
                        main {

                            /* Layout */
                            flex-grow: 1;

                            /* Spacing */
                            padding: 1.5rem;

                            /* Colors */
                            background-color: var(--main-section--bg-color);

                            /* #region Music category section */
                            .music-category-section {

                                /* Category list */
                                .category-list {
                                    
                                    /* Display */
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: center;
                                    column-gap: 1.5rem;

                                    /* Category item */
                                    .category-item {

                                        /* Category link */
                                        .category-link {

                                            /* Category text */
                                            .category-text {
                                                   
                                                /* Typography */
                                                text-transform: uppercase;
                                            }

                                            /* Category underline */
                                            .category-underline {

                                                    /* Sizing */
                                                    margin: 0.3rem auto;
                                                    width: 2rem;

                                                    /* Borders */
                                                    border-bottom: 2px solid transparent;
                                            }

                                            /* Selected */
                                            &.selected {

                                                /* Category underline */
                                                .category-underline {

                                                    /* Colors */
                                                    border-color: var(--accent-color);
                                                }
                                            }

                                            /* Hover */
                                            &:hover {

                                                /* Category text */
                                                .category-text {

                                                    /* Colors */
                                                    color: white;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            /* #endregion Music category section */

                            /* Recently played section */
                            .recently-played-section {

                                /* Section title */
                                .section-title {

                                    /* Spacing */
                                    padding: 1.5rem 0;

                                    /* Typography */
                                    font-size: 1.75rem;

                                    /* Colors */
                                    color: white;
                                }

                                /* Row */
                                .row {

                                    /* Display */
                                    display: flex;
                                    flex-wrap: wrap;

                                    /* Spacing */
                                    margin: 0 -0.5rem;

                                    /* Album */
                                    .album {

                                        /* Spacing */
                                        padding: 1rem 0.5rem;

                                        /* Album image container */
                                        .album-image-container {

                                            /* Positioning */
                                            position: relative;

                                            /* Album image */
                                            .album-image {


                                            }

                                            /* Icon button container */
                                            .icon-button-container {

                                                /* Display */
                                                display: none;

                                                /* Positioning */
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                translate: -50% -50%;

                                                /* Play icon button */
                                                .play-icon-button {

                                                    /* Typography */
                                                    font-size: 3rem;

                                                    /* Colors */
                                                    color: white;
                                                }
                                            }
                                        }

                                        /* Album title */
                                        .album-title {

                                            /* Display */
                                            display: block;

                                            /* Spacing */
                                            padding: 1rem 0;

                                            /* Typography */
                                            /* font-size: 3rem; */
                                            text-align: center;

                                            /* Colors */
                                            color: white;
                                        }

                                        /* Album authors */
                                        .album-authors {

                                            /* Display */
                                            display: block;

                                            /* Typography */
                                            /* font-size: 3rem; */
                                            text-align: center;
                                        }

                                        /* Hover */
                                        &:hover {

                                            /* Album image container */
                                            .album-image-container {

                                                /* Icon button container */
                                                .icon-button-container {

                                                    /* Display */
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        /* #endregion Main section */
                    }
                    /* #endregion App-Top, Right section */
                }
                /* #endregion App, Top section */

                /* #region Bottom bar */
                .bottom-bar {

                    /* Display */
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    /* Spacing */
                    padding: 1rem;

                    /* Colors */
                    background-color: var(--bottom-bar--bg-color);

                    /* Current track information */
                    .current-track-information {

                        /* Display */
                        display: flex;

                        /* Track album image */
                        .track-album-image {
                            width: 3rem;
                        }
                    }

                    /* Playback controls */
                    .playback-controls {

                        /* Display */
                        display: flex;
                        flex-direction: column;
                        row-gap: 0.5rem;

                        /* Buttons */
                        .buttons {

                            /* Display */
                            display: flex;
                            justify-content: center;
                            column-gap: 2rem;

                            /* Typography */
                            font-size: 1.5rem;

                            /* Colors */
                            color: white;

                            /* Play button */
                            .play-button {

                                /* Play icon */
                                .play-icon {

                                    /* Typography */
                                    font-size: 2rem;
                                }
                            }

                        }

                        /* Track progress information */
                        .progress-information {

                            /* Display */
                            display: flex;
                            align-items: center;
                            column-gap: 2rem;

                            /* Current time */
                            .current-time {

                                /* Colors */
                                color: white;
                            }

                            /* Total progress bar */
                            .total-progress-bar {

                                /* Sizing */
                                width: 25rem;
                                height: 0.3rem;

                                /* Colors */
                                background-color: #5a5a5a;

                                /* Current progress bar */
                                .current-progress-bar {

                                    /* Sizing */
                                    width: 20%;
                                    height: 0.3rem;
                                        
                                    /* Colors */
                                    background-color: #c1c1c1;
                                }
                            }

                            /* Total time */
                            .total-time {

                                /* Colors */
                                color: white;
                            }
                        }
                    }

                    /* Volume controls */
                    .volume-controls {

                        /* Display */
                        display: flex;
                        align-items: center;
                        column-gap: 1rem;

                        /* Total volume bar */
                        .total-volume-bar {

                            /* Display */
                            display: inline-block;

                            /* Sizing */
                            width: 10rem;
                            height: 0.3rem;

                            /* Colors */
                            background-color: #5a5a5a;

                            /* Current volume bar */
                            .current-volume-bar {

                                /* Sizing */
                                width: 20%;
                                height: 0.3rem;
                                    
                                /* Colors */
                                background-color: #c1c1c1;
                            }
                        }
                    }
                }
                /* #endregion Bottom bar */
            }
            /* #endregion App */
        }
        /* #endregion Body */
    }
    /* #endregion HTML */                        

/* #endregion App related rules */