/* #region Resets */

/* Globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

/* Links */
a {
    text-decoration-line: none;
    color: inherit;
}

/* Images */
img {
    /* Sizing */
    width: 100%;
}

/* Unordered lists */
ul {
    li {
        list-style-type: none;
        line-height: 2;
    }
}

/* #endregion Resets */

/* Root variables */
:root {

    /* #region Typography */

        /* Font size base(rem) */
        --font-size-base: 16px;

        /* Color base */
        --color--base: white;

    /* #endregion Typography */
    
    /* #region Colors */

        /* Left bar background color */
        --left-bar--bg-color: black;
        /* Left bar text color */
        --left-bar--text-color: #6f6f6f;

        /* Top bar background color */
        --top-bar--bg-color: #080b12;

        /* App Bottom background color */
        --app__bottom--bg-color: #282828;

        /* App main background color */
        --app-main--bg-color: #141922;

        /* Profile picture background color */
        --profile-picture--bg-color: #808080;

        /*
        #a3a3a3
        */

    /* #endregion Colors */
}

/* Debug class */
.debug {

    /* For all elements */
    * {

        /* Borders */
        border: 1px solid green;
    }

}

/* #region App related rules */

    /* #region HTML */
    html {

        /* Typography */
        font-size: var(--font-size--base);

        /* Colors */
        color: var(--color--base);

        /* #region Body */
        body {

            /* #region App */
            .app {

                /* Layout */
                display: flex;
                flex-direction: column;
                height: 100vh;

                /* #region App, Top section */
                .app__top {
                    
                    /* Layout */
                    display: flex;
                    flex-grow: 1;

                    /* #region App-Top, Left section */
                    .app-top__left {

                        /* Spacing */
                        padding: 1.5rem;

                        /* Display */
                        display: flex;

                        /* Flex */
                        flex-direction: column;
                        justify-content: space-between;

                        /* Colors */
                        background-color: var(--left-bar--bg-color);
                        color: var(--left-bar--text-color);

                        /* #region App-Top-Left, Top section */
                        .app-top-left__top {

                            /* Logo link section */
                            .logo-link-section {

                                /* Logo link */
                                .logo-link {
                                    
                                    /* Display */
                                    display: inline-block;
                                    
                                    /* Sizing */
                                    padding: 1.5em 5rem 1rem 1.5rem;

                                    /* Logo link image */
                                    .logo-link-image {

                                        /* Sizing */
                                        width: 8rem;
                                    }
                                }
                            }

                            /* Main menu section */
                            .main-menu-section {

                                /* Menu list */
                                .menu-list {

                                    /* Spacing */
                                    padding: 0rem 1rem;

                                    /* Menu item */
                                    .menu-item {

                                        /* Spacing */
                                        line-height: 2.3;

                                        /* Menu link */
                                        .menu-link {
                                            
                                            color: white;
                                            border-left: 3px solid #adff2f;

                                            /* Menu image */
                                            .menu-image {

                                                /* Sizing */
                                                width: 1.5rem;
                                            }

                                            /* Menu text */
                                            .menu-text {

                                            }
                                        }
                                    }
                                }
                            }

                            /* Playlist section */
                            .playlist-section {

                                /* Spacing */
                                padding: 1rem;

                                /* Playlist section title */
                                .playlist-section-title {
                                    padding: 0.3rem 0 0.5rem 0;
                                    text-transform: uppercase;
                                    color: white;

                                    /* Sizing */
                                    font-size: 1rem;
                                }

                                /* Playlist section actions */
                                .playlist-section-actions {

                                    /* Create playlist link button */
                                    .create-playlist-link-button {

                                        /* Link button icon */
                                        .link-button-icon {
                                            display: inline-block;
                                            width: 1rem;
                                            height: 1rem;
                                            padding: 0.5rem;

                                            /* Background */
                                            background-color: white;
                                        }

                                        /* Link button text */
                                        .link-button-text {
                                            font-size: 1.1rem;
                                        }
                                    }
                                }

                                /* Playlist list */
                                .playlist-list {

                                    /* Playlist item */
                                    playlist-item {

                                        /* Playlist link */
                                        .playlist-link {

                                            /* Typography */
                                            font-size: 0.9rem;
                                        }
                                    }
                                }
                            }
                        }
                        /* #endregion App-Top-Left, Top section */

                        /* #region App-Top-Left, Bottom section */
                        .app-top-left__bottom {

                            /* Installation section */
                            .installation-section {

                                /* Spacing */
                                padding: 1rem 0;

                                /* Install app link button */
                                .install-app-link-button {

                                    /* Install app image */
                                    .install-app-image {

                                        /* Sizing */
                                        width: 1rem;
                                    }

                                    /* Install app text */
                                    .install-app-text {

                                    }
                                }
                            }

                            /* Separator */
                            .app-top-left-bottom__separator {

                            }

                            /* Profile section */
                            .profile-section {

                                /* Spacing */
                                padding: 1rem 0;

                                /* Profile link button */
                                .profile-link-button {

                                    /* Image wrapper */
                                    .image-wrapper {

                                        /* Display */
                                        display: inline;

                                        /* Spacing */
                                        padding: 0.25rem;

                                        /* Borders */
                                        border-radius: 50%;

                                        /* Colors */
                                        background-color: var(--profile-picture--bg-color);

                                        /* Profile image */
                                        .profile-image {

                                            /* Sizing */
                                            width: 1rem;

                                            aspect-ratio: 1/1;

                                        }
                                    }

                                    /* Profile text */
                                    .profile-text {

                                        /* Typography */
                                        font-weight: bold;

                                        /* Colors */
                                        color: white;
                                    }
                                }
                            }
                        }
                        /* #endregion App-Top-Left, Bottom section */
                    }
                    /* #endregion App-Top, Left section */

                    /* #region App-Top, Right section */
                    .app-top__right {

                        display: flex;
                        flex-direction: column;

                        /* Sizing */
                        flex-grow: 1;

                        /* #region App-Top-Right, Top section */
                        .app-top-right__top {
                            
                            /* Spacing */
                            padding: 1.5rem;

                            /* Text alignment */
                            text-align: right;

                            /* Background */
                            background-color: var(--top-bar--bg-color);

                            .upgrade-link-button {
                                
                                /* Display */
                                display: inline-block;

                                /* Spacing */
                                padding: 0.8rem 2.3rem;

                                /* Borders */
                                border: 1px solid white;
                                border-radius: 3rem;

                                /* Text */
                                text-transform: uppercase;
                                font-weight: bold;
                                font-size: 0.8rem;

                                /* Colors */
                                color: white;

                            }
                        }
                        /* #endregion App-Top-Right, Top section */

                        /* #region Main section */
                        main {

                            /* Layout */
                            flex-grow: 1;

                            /* Spacing */
                            padding: 1rem;

                            /* Colors */
                            background-color: var(--app-main--bg-color);

                            /* Music category section */
                            .music-category-section {

                                /* Category list */
                                .category-list {
                                    
                                    /* Display */
                                    display: flex;
                                    justify-content: center;
                                    column-gap: 1.5rem;

                                    /* Category item */
                                    .category-item {

                                        /* Category link */
                                        .category-link {
                                            text-transform: uppercase;


                                            color: #7b7e82;



                                        }
                                    }
                                }
                            }
                        }
                        /* #endregion Main section */
                    }
                    /* #endregion App-Top, Right section */
                }
                /* #endregion App, Top section */

                /* #region App, bottom section */
                .app__bottom {

                    /* Spacing */
                    padding: 3rem;

                    /* Colors */
                    background-color: var(--app__bottom--bg-color);
                }
                /* #endregion App, bottom section */
            }
            /* #endregion App */
        }
        /* #endregion Body */
    }
    /* #endregion HTML */                        

/* #endregion App related rules */